In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
tennis = pd.read_csv('tennis.csv')

In [8]:
tennis

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [9]:
outlook = tennis.groupby(['outlook', 'play']).size()
temp = tennis.groupby(['temp', 'play']).size()
humidity = tennis.groupby(['humidity', 'play']).size()
windy = tennis.groupby(['windy', 'play']).size()
play = tennis.play.value_counts()

In [10]:
print(temp)
print('------------------')
print(humidity)
print('------------------')
print(windy)
print('------------------')
print(outlook)
print('------------------')
print('play')
print(play)

temp  play
cool  no      1
      yes     3
hot   no      2
      yes     2
mild  no      2
      yes     4
dtype: int64
------------------
humidity  play
high      no      4
          yes     3
normal    no      1
          yes     6
dtype: int64
------------------
windy  play
False  no      2
       yes     6
True   no      3
       yes     3
dtype: int64
------------------
outlook   play
overcast  yes     4
rainy     no      2
          yes     3
sunny     no      3
          yes     2
dtype: int64
------------------
play
play
yes    9
no     5
Name: count, dtype: int64

In [17]:
print(type(tennis))
print(type(outlook))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [18]:
print(outlook)

outlook   play
overcast  yes     4
rainy     no      2
          yes     3
sunny     no      3
          yes     2
dtype: int64

In [19]:
print(tennis.groupby(['outlook', 'play']))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x140b8d950>

In [20]:
for group, data in tennis.groupby(['outlook', 'play']):
    print(group)
    print(data)
    print('\n')  # Add a line break for better readability

('overcast', 'yes')
     outlook  temp humidity  windy play
2   overcast   hot     high  False  yes
6   overcast  cool   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes


('rainy', 'no')
   outlook  temp humidity  windy play
5    rainy  cool   normal   True   no
13   rainy  mild     high   True   no


('rainy', 'yes')
  outlook  temp humidity  windy play
3   rainy  mild     high  False  yes
4   rainy  cool   normal  False  yes
9   rainy  mild   normal  False  yes


('sunny', 'no')
  outlook  temp humidity  windy play
0   sunny   hot     high  False   no
1   sunny   hot     high   True   no
7   sunny  mild     high  False   no


('sunny', 'yes')
   outlook  temp humidity  windy play
8    sunny  cool   normal  False  yes
10   sunny  mild   normal   True  yes

In [21]:
def bayestheorem():
    print('Posterior [P(c|x)] - Posterior probability of the target/class (c) given predictors (x)'),
    print('Prior [P(c)] - Prior probability of the class (target)'),
    print('Likelihood [P(x|c)] - Probability of the predictor (x) given the class/target (c)'),
    print('Evidence [P(x)] - Prior probability of the predictor (x))')

In [22]:
ct = pd.crosstab(tennis['outlook'], tennis['play'], margins = True)
print(ct)

play      no  yes  All
outlook
overcast   0    4    4
rainy      2    3    5
sunny      3    2    5
All        5    9   14

In [23]:
ct.columns = ["no","yes","rowtotal"]
ct.index= ["overcast","rainy","sunny","coltotal"]
ct / ct.loc["coltotal","rowtotal"]

                no       yes  rowtotal
overcast  0.000000  0.285714  0.285714
rainy     0.142857  0.214286  0.357143
sunny     0.214286  0.142857  0.357143
coltotal  0.357143  0.642857  1.000000

In [24]:
print(type(ct))

<class 'pandas.core.frame.DataFrame'>